<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="logo" src="images/graphics/logo-placeholder.png" alt="homely logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navigation-bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-navigation-bar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="account/profile">Account</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/users">Admin</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
                        <img id="account-icon" src="images/icons/account.png" alt="account sign in icon" />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <NavLink class="nav-link" href="authentication/login">Log In</NavLink>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <NavLink class="nav-link" href="authentication/signup">Sign Up</NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
