@page "/admin/users"

@inject IUserRepository repo

<PageHeader Text="Users" />

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Movie Title"
               @bind-value="name" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => TitleKeyPress(e))" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
@*        <select class="form-control" @bind="selectedStatus">
            <option value="0">
                --Select a User Role
            </option>
            @foreach (var role in Roles)
            {
                <option value="@status.Id">@status.Name</option>
            }
        </select>*@
    </div>

    <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchUsers">Filter</button>
    <button type="button" class="btn btn-danger mb-2 mx-sm-3" @onclick="Clear">Clear</button>
</div>

@*@if (users == null)
{
    <LoadingIcon />
}
else
{
    <ReportBuilder List="users">
        <ReportTableTemplate>
            <UserReportTable />
        </ReportTableTemplate>
        <ReportRowTemplate Context="user">
            <UserReportRow User="user" />
        </ReportRowTemplate>
        <EmptyListTemplate>
            No User Information
        </EmptyListTemplate>
    </ReportBuilder>
}*@

@*<div class="form-group">
    <AddButton Text="New User" Route="admin/user/add" />
</div>
*@

@code {

    private List<User> users = new List<User>();
    private string name = "";
    private int selectedStatus = 0;

    protected override void OnInitialized()
    {
        users = repo.GetUsers();
    }
    private void TitleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchUsers();
        }
    }
    private void SearchUsers()
    {
        users = repo.GetUsers().Where(x => x.PersonalInformation.FirstName.Contains(name)).ToList();
        Console.WriteLine($"name: {name}");
        Console.WriteLine($"status: {selectedStatus}");
    }
    private void Clear()
    {
        users = repo.GetUsers();
        name = "";
        selectedStatus = 0;
    }
}
