<div class="sidebar">
    <div class="sidebar-content">
        <div>
            Filter
        </div>
        <div>
            <Selector Title="County" Options="counties" onSelection="CountyFilter"/>
        </div>
        <div>
            <Selector Title="Property Type" Options="propertyTypes" onSelection="PropertyTypeFilter"/>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback<ChangeEventArgs> CountyFilter { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> PropertyTypeFilter { get; set; }

    List<string> counties;
    List<string> propertyTypes;

    protected override void OnInitialized()
    {
        counties = Enum.GetNames(typeof(Counties)).ToList();
        propertyTypes = Enum.GetNames(typeof(PropertyTypes)).ToList();
    }
}