<div class="sidebar">
    <div class="sidebar-content">
        <div>
            <NavLink class="nav-link" href="account/applications">Applications</NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="account/sell">Sell</NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="account/profile">Profile</NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="account/settings">Settings</NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="practice">Pratice</NavLink>
        </div>
    </div>
</div>

@code {

}
