@page "/account/sell"

<div class="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 g-0">
                <Sidebar />
            </div>
            <div class="col-lg-10">
                <div class="container-fluid g-0">
                    <h3 style="padding: 10px;">Your Sale</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
