<label for="example" class="form-label">@title</label>
<input @bind="userInput" 
       @onfocusout="(() => onFocusOut.InvokeAsync(userInput))"
       placeholder="@placeholder"
       type="@(showPassword ? "text" : "password")" 
       class="form-control" 
       id="example">

<Button text="@buttonText" type="btn-warning" onClick="ToggleShowPassword" />

@code {
    [Parameter] public string title { get; set; } = "Input";
    [Parameter] public string placeholder { get; set; } = "...";
    [Parameter] public EventCallback<string> onFocusOut { get; set; }

    public string userInput;
    public bool showPassword = false;
    public string buttonText = "Show";

    private void ToggleShowPassword()
    {
        showPassword = !showPassword;

        buttonText = showPassword ? "Hide" : "Show";
    }
}