<div>
    <h6>@title</h6>
    <select @onchange="onSelection" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>All</option>
        @foreach (var option in Options)
        {
            <option value=@option>@option</option>
        }
    </select>
</div>

@code {
    [Parameter] public string title { get; set; } = "Select";
    [Parameter] public List<string> Options { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> onSelection { get; set; }
}
