<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">@Label</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">
      @Bio
  </textarea>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Bio { get; set; }
}
