<label for="example" class="form-label">@title</label>
<input @bind="userInput"
       @onfocusout="(() => onFocusOut.InvokeAsync(userInput))"
       placeholder="@placeholder"
       type="text"
       class="form-control"
       id="example">

@code {
    [Parameter] public string title { get; set; } = "Input";
    [Parameter] public string placeholder { get; set; } = "...";
    [Parameter] public EventCallback<string> onFocusOut { get; set; }

    public string? userInput;

    //bind is implicitly using onchange in the background
    //you need to use bind-value with bind-value:event="oninput"
}